
.hero-image{
    width: 300px;
    margin: 20px 50px;
    border-radius: 15px;
    border: #004AAD 2px solid;

}
.hero-text {
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #004AAD;
    margin: 20px 50px;
}


/* CSS */
.hero-btn {
  background: linear-gradient(to bottom right, #6047ef, #5af4ff);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.hero-btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(96, 71, 239, 0.5), .125rem .125rem 1rem rgba(90, 208, 255, 0.5);
}

.hero-btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(96, 71, 239, 0.5), .125rem .125rem 1rem rgba(90, 208, 255, 0.5);
}
.section {
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    text-align: center; /* Center the text within the section */
    padding: 20px; /* Add some padding for spacing */
    background-color: #d5d7d9; /* Add a background color */
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.1); /* Add a subtle box shadow for depth */
    margin-bottom: 20px; /* Add margin at the bottom for spacing between sections */
    border-radius: 15px;
    }

/* Additional styling for specific elements within a section if needed */
.section h2 {
    color: #3498db; /* Adjust text color for h2 elements */
    margin: 0 0 10px; /* Adjust margin for spacing between elements */
}

.sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }


@media screen and (max-width: 1200px) {
    .section{
        margin: 10px 20px;
    }
}

@media screen and (max-width: 900px) {
    .brain-art-image{
        width: 450px
    }
}
@media screen and (max-width: 750px) {
    .sub-section {
        flex-direction: column;
    }
    .brain-art-image{
        width: 375px
    }
    .hero-image{
        width: 250px;
        margin: auto;
        border-radius: 15px;
    }
}

@media screen and (max-width: 500px) {
    .home-feed {
        margin-top: 30px;
    }
    .sub-section {
        flex-direction: column;
    }
    .brain-art-image{
        width: 300px;
        margin: 10px 0px
    }
    
}