/* Home.css */
.section {
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    text-align: center; /* Center the text within the section */
    padding: 20px; /* Add some padding for spacing */
    background-color: #d5d7d9; /* Add a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    margin-bottom: 20px; /* Add margin at the bottom for spacing between sections */
    border-radius: 15px;
    }

/* Additional styling for specific elements within a section if needed */
.section h2 {
    color: #3498db; /* Adjust text color for h2 elements */
    margin: 0 0 10px; /* Adjust margin for spacing between elements */
}

.section p {
    color: #555; /* Adjust text color for paragraph elements */
}
.sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

@media screen and (max-width: 600px) {
    .sub-section {
        flex-direction: column;
    }
    
}