/* Home.css */
/* .home-feed {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
} */
.section {
    max-width: 1200px; /* Set a maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
    text-align: center; /* Center the text within the section */
    padding: 20px; /* Add some padding for spacing */
    background-color: #d5d7d9; /* Add a background color */
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.1); /* Add a subtle box shadow for depth */
    margin-bottom: 20px; /* Add margin at the bottom for spacing between sections */
    border-radius: 15px;
    }

/* Additional styling for specific elements within a section if needed */
.section h2 {
    color: #3498db; /* Adjust text color for h2 elements */
    margin: 0 0 10px; /* Adjust margin for spacing between elements */
}

.sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }


@media screen and (max-width: 1200px) {
    .section{
        margin: 10px 20px;
    }
}

@media screen and (max-width: 900px) {
    .brain-art-image{
        width: 450px
    }
}
@media screen and (max-width: 750px) {
    .sub-section {
        flex-direction: column;
    }
    .brain-art-image{
        width: 375px
    }
}

@media screen and (max-width: 500px) {
    .home-feed {
        margin-top: 30px;
    }
    .sub-section {
        flex-direction: column;
    }
    .brain-art-image{
        width: 300px;
        margin: 10px 0px
    }
    
}